<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block head %}
        {% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello</title>
    </head>
    <body>
        <nav id="navbar">


            <a href="/" class="nav-link nav-header">
                <h1 class="rarity-header">
                    Home
                </h1>
            </a>


        {% for rarity in rarities %}

                    <a href="/{{ rarity }}" class="nav-link">
                        <h2 class="rarity-header">
                            {{ rarity }}
                        </h2>
                    </a>

        {% endfor %}

        </nav>

        <div id="layout">
            <main id="main">
                {% block body %}
                {% endblock %}
            </main>
        </div>

        {% block scripts %}
        {% endblock %}
    </body>  
</html>